.media-organizer-browser .term-drop-area {
  margin: 10px;
  padding: 5px 10px;
  border: 2px dashed #ccc;
  border-radius: 5px;
  font-size: 18px;
  display: table;
  font-weight: bold;
  cursor: pointer;
}

.media-organizer-browser .term-drop-area.active {
  background-color: #dddddd;
}

.ui-draggable-dragging {
  opacity: 0.5;
}

.ui-state-hover {
  transform:   scale(1.5);
}

.media-organizer-browser .tag-area {
  width: 20%;
  float: left;
}

.media-organizer-browser .media-display-thumbnails  {
  width: 80%;
  float: right;
}

.media-organizer-browser .media-thumbnail {
  float: left;
}

.media-thumbnail .img-wrapper {
  display: block;
  float: left;
  width: 150px;
  height: 150px;
  border: 1px solid #ccc;
}

.media-thumbnail .img-wrapper img {
  width: 98%;
  height: 98%;
  margin: 1%;
  display: block;
}

.media-thumbnail .delete-action {
  padding: 2px 5px;
  border-radius: 10px;
  margin: 0 0 0 5px;
  line-height: 10px;
  font-size: 10px;
  background-color: #0074BD;
  color: #fff;
}

.media-thumbnail .meta-wrapper {
  float: left;
  width: 150px;
  height: 150px;
  padding: 5px;
}

.media-thumbnail .meta-info {
  font-size: 9px;
  text-justify: auto;
}

.media-thumbnail .img-tag {
  border: 1px solid #CCCCCD;
  padding: 0px 3px;
  margin: 2px 3px;
  border-radius: 6px;
  background-color: #dddddd;
  float: left;
}

.media-list-thumbnails li {
  float: left;
  padding: 5px;
  list-style-type: none;
}

.media-display-thumbnails {
  height: 345px;
  overflow-x: hidden;
  /*border: 1px solid #cccccc;*/
}
